
*{
	padding: 0;
	margin: 0;
}
img{
	border: none;
}
body{
	background:#F7F8F8;
	color: #444;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color:black;
}
body,input,textarea{
	font-size: 12px;
	font-family: arial,verdana,"宋体";
}
/*****头部******/
#w{
	width:100%;
	background: #f7f8f8;
}
#wrap{
	width:1200px;
	height:30px;
	margin: 0 auto;
	/*overflow: hidden;*/
	box-sizing: border-box;
	position:relative;
}
#wrap .fl{
	float:left;
}
#wrap .fr{
	float:right;
}
#wrap .fl>li,#wrap .fr>li{
	float:left;
	padding:0 10px;
	line-height:30px;
	
}
#wrap .fl li:hover a,#wrap .fr li:hover a{
	color:#008842;	
}
/*#wrap li:hover .triangle{
	transform: rotate(180deg);
}*/
#wrap .fl li:first-of-type:hover a{
	color:black;
}
#wrap .fr li i{
	display: inline-block;
	width:18px;
	height:18px;
	margin-right: 5px;
	vertical-align: middle;
	background: url(../img/me.jpg) no-repeat 0px 0px;
	/*background-position: 0 4px;*/
}
#wrap .fr #phone i{
	background: url(../img/phone.jpg) no-repeat 0px 0px;
}
#wrap .fr #ka i{
	background: url(../img/ka.jpg) no-repeat 0px 0px;
}
#wrap .fr #zhunren i{
	background: url(../img/zhunren.jpg) no-repeat 0px 0px;
}
#wrap li span{
	transition: all 0.2s ease-in;
	display: inline-block;
	width:8px;
	height:4px;
	vertical-align: middle;
	margin-left: 5px;
	background: url(../img/triangle.png) no-repeat 0px 0px;
}
#wrap li:hover span{
	transform:rotate(-180deg);
}
#wrap li#me,li#phone,li#city{
	position:relative;
}
#wrap li div.con{
	position:absolute;
	z-index:500;
	top:30px;
	left:0px;
	background: #fff;
	color:black;
	padding: 0px 5px;
	min-width:100px;
	border:1px solid #008842;
	display: none;
}
#wrap li:hover div.con{
	display: block;
}
/********************搜索框**********************/
.search{width: 100%;height: 78px;background: #ccc;box-sizing: border-box;}
.fixed{position: fixed;top:0px;left:0px;z-index: 999999;width: 100%;height: 78px;background: rgba(120,120,120,0.5);box-sizing: border-box;}
.search .wrap{width: 1200px;height: 78px;padding-top:15px;margin:0 auto;box-sizing: border-box;}
.search .wrap .fl{float: left;}
.search .wrap .fl .logo{margin-right: 200px;display: inline-block;}

.search .wrap .fl .sousuo{display: inline-block;vertical-align: top;}
.search .wrap .fl .sousuo .aimtxt{width:425px;
	border:1px solid #008842;background: #e0e0e0;    
	height: 28px;
	float: left;
    line-height: 28px;
    padding: 0 10px;}
.search .wrap .fl .sousuo .searchBtn{
	float: left;
    display: block;
    width: 81px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #008842;
}
.search .wrap .fl .sousuo p{
	height:26px;
	line-height: 26px;
}
.search .wrap .fl .sousuo p span{
	padding-right:10px;
	display: inline-block;
}
.search .wrap .fr{float: right;}
.search .wrap .fr dl{
	position: relative;
}
.search .wrap .fr dl dt{
	width: 170px;
    height: 28px;
    padding: 6px 0;
    line-height: 28px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #008842;
    background: #fff;
    cursor: pointer;
}
.search .wrap .fr dl dt b{
	display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    padding: 0;
    background: url(../img/header-img.png) no-repeat -112px 0;
}
.search .wrap .fr dl dt b i{
	display: block;
    width: 24px;
    line-height: 12px;
    margin-right: 4px;
    text-align: center;
}
.search .wrap .fr dl dt span{
	
}
.search .wrap .fr dl dd{
	z-index: 88;
    display: none;
    position: absolute;
    top: 41px;
    right: 0;
    width: 380px;
    padding: 10px;
    background: #fff;
    border: 1px solid #007f4d;
}
.search .wrap .fr dl:hover dd{
	display: block;
}
.search .wrap .fr dl dd p{
	width: 380px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: url(../img/none-bg-w190.jpg) no-repeat center #fff;
}
/***************banner***********************/
.banner{
	width:100%;
	height:500px;
	overflow: hidden;
	position: relative;
	/*background: #008742;*/
}
.nav{
	position: relative;
	height:30px;
	width: 1200px;
	margin: 0 auto;
}
#menu{
	width: 140px;
	position: absolute;
	z-index: 10000;
	background: rgba(255, 255, 255, 0.9);
}
.nav .subnav{position: absolute;left:140px;top:0px;}
.nav .subnav div{
	float: left;
	width:140px;
	text-align: center;
	line-height: 30px;
	color:#008842;
	font-size: 18px;
	font-weight: bold;	
}
#menu a{
	background: #F7F8F8;
	display: inline-block;
	width:140px;
	height:30px;
	font-size:18px;
	line-height: 30px;
	color:#008742;
	text-align: center;
}
#menuList{
	display: none;
}
#menu:hover #menuList{
	display: block;	
}
#menuList>li{
	padding-left: 10px;
	width: 140px;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	/*position: relative;*/
	text-align: left;
}
#menuList>li p{
	transition:all 0.2s ease;
	line-height: 30px;
	width: 90%;
	height: 100%;
	overflow: hidden;
}

#menuList>li p b{
	display: inline-block;
	width:24px;
	height:24px;
	margin-right:10px;
	margin-top: -3px;
	background: url(../img/nav-icon.png) no-repeat 0 0;
	vertical-align: middle;
}
#menuList>li p span{
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
}
#menuList>li p i{
	display: none;
	vertical-align: middle;
}
#menuList>li div{
	position: absolute;
	left:140px;
	top:0px;
	background: rgba(255, 255, 255, 0.9);
	/*min-width: 100px;*/
	width: 215px;
	height: 400px;
	box-sizing: border-box;
	display: none;
	border:1px solid #ccc;
	padding:20px 20px 0 20px;
}
#menuList>li div img{
	position: absolute;
	left:0px;
	bottom:0px;
}
#menuList>li:hover{
	border: 1px solid #ccc;
}
#menuList>li:hover div{
	display: block;
}
#menuList>li:hover p{
	transform: translateX(10px);
}
#menuList>li:hover p i{
	display: inline-block;
}
#menuList>li ul li{
	min-width: 20px;
	padding-right: 20px;
	float: left;
}
.banner{
	width: 100%;
	height:500px;
}
.banner>img{
	width: 100%;
	height:100%;
}

/***************商品详情*********************/
.goodsdetail{
	width: 100%;
}
.goodsdetail .wrap{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#goodsImg{
	float:left;
	width: 500px;
	height:500px;
}
#goodsImg img{
	width: 100%;
	height: 100%;
}
#detail{
	float: right;
	width: 680px;
	height:500px;
	box-sizing: border-box;
	margin-left: 20px;
	padding: 10px;
}
#detail h2{
	height:34px;
	line-height: 34px;
}
#detail>p{
	height:40px;
	/*line-height: 40px;*/
	color:#777;
}
#detail .price{
	height:90px;
	overflow: hidden;
}
#detail .price .fl{
	float: left;	
}
#detail .price .fl span{
	padding-right: 10px;
}
#detail .price .fl em{
	padding: 0 5px;
    font-size: 18px;
    color: #ff0000;
    font-style: normal;
}
#detail .price .fl strong{
	color: #ff0000;
    font-size: 35px;
    font-weight: normal;
}
#detail .price .fr{
	width:86px;
	text-align: center;
	float: right;
	display: flex;
	flex-flow: column;
}
#detail .price .fr p{
	width:100%;
	text-align: center;
}
#detail .price .fr i,#detail .price .fr em{
	font-style: normal;
}
#detail .price .fr p b{
	color: #e8380d;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
}
#detail .guige{
	overflow: hidden;
	margin-bottom: 10px;
}
#detail .guige>p{
	float: left;
	margin-right: 10px;
	line-height: 50px;
}
#detail .guige div{
	float: left;
	margin-right: 10px;
}
#detail .guige div i{
	font-style: normal;
}
#detail .guige div span,#detail .guige div i{
	width: 80px;
	text-align: center;
	box-sizing: border-box;
	display: block;
	padding: 5px 12px 5px 9px;
	border: 1px solid #008842;
}
#detail .guige div i{
	border-top: none;
} 
#detail .numAndAdd{
	overflow: hidden;
}
#detail .numAndAdd>p{
	float:left;
	margin-right: 10px;
	line-height: 40px;
}
#detail .numAndAdd .num{
	float: left;
	height:40px;
}
#detail .numAndAdd .num input{
	width: 40px;
	height:40px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
#detail .numAndAdd .btns{
	float: left;
}
#detail .numAndAdd .btns *{
	display: block;
	width: 18px;
	height: 17px;
	border: 1px solid #ccc;
	margin: 1px;
	text-align: center;
	line-height: 16px;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
}
#detail .numAndAdd a{
	float: left;
	margin-left: 100px;
	width: 200px;
	height:40px;
	line-height: 40px;
	background: #008842;
	color: white;
	text-align: center;
	font-weight: bold;
}



/*************尾部***********/
.footer_service{
	width: 100%;
	height: 100px;
	background: #e0e0e0;
	box-sizing: border-box;
	padding: 29px 0px;
}
.footer_service .wrap{
	width: 1200px;
	height: ;
	margin: 0 auto;
}
.footer_service .wrap ul{
	/*margin-left: 50px;*/
}
.footer_service .wrap ul li{
	float: left;
	width:250px;
	box-sizing:border-box ;
	height: 42px;
	padding-left: 55px;
	margin-left: 50px;
	background: url(../img/footer_service_icon.png) no-repeat;
	background-position:0 0;/*用js对其他的进行具体的定位设置*/
}
.footer_service .wrap ul li b{
	display: list-item;
	font-size: 18px;
	font-weight: normal;
	color: #007f4d;
	border-left: 1px solid #a6a6a6;
	padding-left: 15px;
}
.footer_service .wrap ul li span{
	display: list-item;
	font-weight: normal;
	border-left: 1px solid #a6a6a6;
	padding-left: 15px;
}

.footer .wrap{
	width: 1200px;
	margin: 50px auto 0 auto;
	box-sizing: border-box;
	background:#F7F8F8;
}
.footer .wrap dl{
	float:left;
	width: 190px;
	box-sizing: border-box;
	margin-left: 50px;
}
.footer .wrap dl dt{
	background: url(../img/footer_icon.png) no-repeat 0 0;
	font-size: 14px;
	height: 23px;
	line-height: 23px;
	padding-left: 40px;/*text-indent:40px;*/
}
.footer .wrap dl dd{
	height: 110px;
	line-height: 22px;
	margin: 15px 0 0 13px;
	padding-left: 20px;
	border-left: 1px dashed #a8a8a8;
}
.footer .wrap dl dd a:hover{
	text-decoration: underline;
	color: #008842;
}
.service{
	clear: both;
	width: 1200px;
	padding: 60px 0 20px 0;
	text-align:center;
	color: #008842;
	line-height: 22px;
}

.copyright{
	padding-bottom: 10px;
}
.copyright p{
	text-align: center;
	color: #f0c000;
	line-height: 22px;
}
.copyright p span{
	display: inline-block;
	height:20px;
	line-height: 20px;
	vertical-align: middle;
}
.copyright p>a>img{
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
}
.copyright p span a{
	float: left;
	position: relative;
	color: #939393;
	margin-left: 5px;
	display: inline-block;
	height:20px;
	line-height: 20px;
	vertical-align: middle;
}
